@font-face {
    font-family: "Montserrat Regular";
    src:local('Monsterat Regular'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('ttf'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.eot') format('eot');
}
@font-face {
    font-family: 'Montserrat Medium';
    src:local('Montserrat Medium'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.ttf') format('ttf'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.eot') format('eot');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src:local('Montserrat SemiBold'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.ttf') format('ttf'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.eot') format('eot');
}
@font-face {
    font-family: 'Montserrat Bold';
    src:local('Montserrat Bold'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.ttf') format('ttf'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.eot') format('eot');
}
@font-face {
    font-family: 'Gilroy Bold';
    src:local('Gilroy Bold'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('ttf'),
    url('../fonts/Gilroy-Bold.eot') format('eot');
}

@import "nullstyle.css";

    .wrapper-background {
        width: 100vw;
        background-size: 100%;
        padding-left: 80px;
        padding-right: 80px;
        margin: 0 auto;
    }
    .wrapper-background__seo {
        width: 100vw;
        background-image: url(/source/images/header_background.svg), url(/source/images/background_gradient.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100%;
        padding-left: 80px;
        padding-right: 80px;
        margin: 0 auto;
    }
    .wrapper { 
        width: 100%;
        height: 100%;
        max-width: 1240px;
        margin: 0 auto;
        position: relative;
        header {
            padding-top: 39px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__logo {
                min-width: 20%;
                .header__logo img{
                }
            }
            nav {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                min-width: 70%;
                .nav__link {
                    font-family: 'Montserrat Medium';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #585858;
                    display: flex;
                    align-items: center;
                    margin-right: 1%;
                }
                .nav__link:first-child {
                    color:#F68738;
                }
                .nav__link:nth-child(2)::after, .nav__link:nth-child(3)::after  {
                    content: url(/source/images/nav_link-after.svg);
                    margin-left: 4px;
                }
                .nav__link:hover {
                    transition: 0.3s;
                    color: #54AFDD;
                }
                .nav__link:active {
                    color:#0275bd;
                }
                .nav__button {
                    font-family: 'Montserrat Medium';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #54AFDD;
                    text-transform: uppercase;
                    border: 1px solid #54AFDD;
                    border-radius: 10px;
                    padding: 7px 15px;
                    margin-right: 1%;
                    margin-left: 1%;
                }
                .nav__button:hover {
                    transition: 0.4s;
                    background-color: #F68738;
                    color: #fff;
                    border-color: #585858;
                }
                .nav__button:active {
                    background-color: #e46104;
                }
                .nav__phone {
                    font-family: 'Montserrat Medium';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #585858;
                    display: flex;
                    align-items: center;
                }
                .nav__phone:hover {
                    transition: 0.3s;
                    color: #54AFDD;
                    cursor: pointer;
                }
            }
        }
        .seo {
            margin-top: 90px;
            margin-bottom: 134px;
            display: flex;
            justify-content: space-between;
                .seo__info {
                    &_title {
                        font-family: 'Montserrat Bold';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 46px;
                        line-height: 60px;
                        letter-spacing: 0.015em;
                        color: #47A7E3;
                        height: 60px;
                        display: flex;
                        align-items: center;
                    }
                    &_title>p {
                        color: #E97522;
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                    &_subtitle {
                        font-family: 'Montserrat Medium';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 26px;
                        color: #585858;
                        margin-top: 24px;
                        width: 585px;
                        height: 182px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 26px;
                    }
                    &_subtitle p::before {
                        content: url(/source/images/seo_before-polygon.svg);
                        margin-left: -25px;
                        position: absolute;
                        cursor: pointer;
                    }
                    &_button {
                        font-family: 'Montserrat SemiBold';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        letter-spacing: 0.23em;
                        color: #FFFFFF;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin-top: 40px;
                        padding: 36px 74px;
                        background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
                        border-radius: 25px;
                    }
                    &_button:hover {
                        transition: 0.4s;
                        background: linear-gradient(180deg, #fc974e -21.43%, #eb6303 100%);
                        box-shadow: #585858;
                    }
                    &_button:active {
                        background: linear-gradient(180deg, #ee6d56 -21.43%, #ff8a05 100%);
                    }
                }
            .seo__info-image {
            }
        }
        .page-title {
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            &__image {
            }
            &__text {
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 0.8px;
                color: #316594;
            }
        }
    }
    .rates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .rate:last-of-type {
            .rate__title::after {
                content: url(/source/images/Rate__info_like.svg);
                position: absolute;
                margin-left: 36px;
                top: 10px;
            }
        }
        .rate {
            width: 585px;
            height: 358px;
            background-color: #FFFFFF;
            box-shadow: 0px 7px 24px 0px #79797926;
            border-radius: 40px;
            margin-top: 120px;
            position: relative;
            &__price::after {
                content: url(/source/images/rate__price_currency.svg);
                position: absolute;
                right: 10%;
                top: 7px;
            }
		    &__price {
                position: absolute;
                padding: 3px 45px 4px 17px;
                background-color: #FF9B54;
                border-radius: 6.9px;
                display: flex;
                align-items: flex-end;
                margin-top: -5%;
                margin-left: 39px;
                p {
                    font-family: 'Gilroy Bold';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 32px;
                    letter-spacing: 0.8px;
                    text-align: left;
                    color: #FFFFFF;
                    span {
                        font-family: "Montserrat Bold";
                        font-size: 46px;
                        font-weight: 700;
                        line-height: 60px;
                        letter-spacing: 0.015em;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }
            }
		    &__title {
                margin-top: 79px;
                margin-left: 32px;
                margin-bottom: 18px;
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                letter-spacing: 0.8px;
                color: #47A7E3;
            }
		    &__info {
                margin-left: 32px;
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.8px;
                color: #585858;
                text-align: left;
                p:first-child {
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.8px;
                    color: #B5B5B5;
                    margin-bottom: 0.4rem;
                }
                .info-rate__before_p::before {
                    content: url(/source/images/info-rate_p.svg);
                    left: 11.26px;
                    margin-top: -4px;
                    position: absolute;
                }
            }
		    &__button {
                margin-left: 32px;
                margin-top: 28px;
                width: 290.89px;
                height: 68px;
                font-family: 'Montserrat SemiBold';
                font-style: normal;
                font-weight: 600;
                font-size: 15.2px;
                line-height: 18px;
                letter-spacing: 0.2em;
                color: #54AFDD;
                text-transform: uppercase;
                text-align: center;
                border: 3.78px solid #54AFDD;
                border-radius: 18.8889px;
                background:  #FFFFFF;
            }
            &__button::after {
                content: url(/source/images/Arrow-orange.svg);
                position: absolute;
                margin-left: 21%;
            }
            &__button:hover {
                transition: 0.4s;
                background: linear-gradient(180deg, #fc974e -21.43%, #eb6303 100%);
                box-shadow: #585858;
                color: #FFFFFF;
                border: #585858;
            }
            &__button:active {
                background: linear-gradient(180deg, #ee6d56 -21.43%, #ff8a05 100%);
                color: #FFFFFF;
                border: #585858;
            }
        }
        .rate:first-child, .rate:nth-child(3) {
            margin-right: 36px;
        }
    }
.form-page {
    margin-top: 150px;
    background-image: url(/source/images/big-form__image-background.svg), url(/source/images/big-form_background.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 493px 518px, 851px 823px;
    background-position: 93%, right;
    .big-form {
        width: 660px;
        height: 926px;
        background: #FFFFFF;
        box-shadow: 0px 7px 30px rgba(121, 121, 121, 0.2);
        border-radius: 25px;
        padding: 69px 60px 70px 60px;
        &__titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            .big-form__titles_title {
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 0.8px;
                color: #47A7E3;
            }
            .big-form__titles_subtitle {
                margin-top: 8px;
                margin-bottom: 35px;
                font-family: 'Montserrat Medium';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: #585858;
                height: 37px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
            &__info {
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #83BCDC;
                display: flex;
                align-items: center;
            }
            &__info::before {
                content: url(/source/images/Form-info_before.svg);
                margin-right: 10px;
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 619px;
                margin-top: 16px;
                    input {
                        height: 45px;
                        font-family: 'Montserrat Medium';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        color: #C7C7C7;
                        border: 1px solid #C7C7C7;
                        border-radius: 8px;
                    }
                    input::placeholder {
                        margin-left: 10px;
                        position: absolute;
                        margin-top: 15px;
                    }
                    .big-form__checkbox-wrapper {
                        display: flex;
                        justify-content: space-between;
                        .big-form__checkbox_first-column {
                            display: flex;
                            flex-direction: column;
                            input {
                                border: 2px solid #C9C9C9;
                                border-radius: 3px;
                                width: 20px;
                                height: 20px;
                            }
                            label {
                                display: inline-flex;
                                align-items: center;
                                user-select: none;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                color: #585858;
                            }
                        }
                        .big-form__checkbox_second-column {
                            display: flex;
                            flex-direction: column;
                            // input {
                            //     position: absolute;
                            //     z-index: -1;
                            //     opacity: 0;
                            // }
                            label {
                                display: inline-flex;
                                align-items: center;
                                user-select: none;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                color: #585858;
                            }
                            // label::before {
                            //     content: '';
                            //     display: inline-block;
                            //     width: 20px;
                            //     height: 20px;
                            //     border: 2px solid #C9C9C9;
                            //     border-radius: 3px;
                            //     margin-right: 8px;
                            //     background-repeat: no-repeat;
                            //     background-position: center center;
                            //     background-size: 50% 50%;
                            // }
                            // label::before:checked {
                            //     border-color: #0b76ef;
                            //     background-color: #0b76ef;
                            //     background-image: url(/source/images/checkbox__checked.svg);
                            // }
                        }
                    }
                    #big-form__button {
                        height: 94px;
                        width: 395px;
                        border: 4px solid #47A7E3;
                        border-radius: 25px;
                        background-color: #FFFFFF;
                        font-family: 'Montserrat SemiBold';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        letter-spacing: 0.23em;
                        color: #54AFDD;
                    }
                    #big-form__button:hover {
                        transition: 0.4s;
                        background: linear-gradient(180deg, #fc974e -21.43%, #eb6303 100%);
                        box-shadow: #585858;
                        color: #FFFFFF;
                        border: #585858;
                    }
                    #big-form__button:active {
                        background: linear-gradient(180deg, #ee6d56 -21.43%, #ff8a05 100%);
                        color: #FFFFFF;
                        border: #585858;
                    }
                }
            }
    }
.promotion {
    margin: 162px auto 150px auto;
    display: flex;
    justify-content: space-between;
    &__man {
    }
    &__info {
        padding-right: 3%;
        .promotion__likes {
            margin-left: 90%;
            margin-bottom: -4%;
        }
        .promotion__info-text {
            font-family: 'Montserrat Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #585858;
            }
        .promotion__image-wrapper {
            margin-top: 50px;
                .promotion__instagram-image {
                    display: inline-flex;
                    height: 123px;
                    width: 123px;
                    border-radius: 20px;
                    box-shadow: 0px 7px 15px 0px hsla(205, 11%, 43%, 0.18);
                    background-color: #FFFFFF;
                    justify-content: center;
                    align-items: center;
                    margin-right: 40px;
                        
                    img {
                        width: 72px;
                        height: 72px;
                    }
                }
                .promotion__telegram-image {
                    display: inline-flex;
                    height: 123px;
                    width: 123px;
                    border-radius: 20px;
                    box-shadow: 0px 7px 15px 0px hsla(205, 11%, 43%, 0.18);
                    background-color: #FFFFFF;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 72px;
                        height: 72px;
                    }
                }
            }
        }
}

.service {
    margin-top: 100px;
    margin-bottom: 173px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 111px;
    grid-column-gap: 59px;
    &__block {
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.8px;
        color: #585858;
        width: 260px;
        .service-text {
            margin-top: 20px;
            p { 
                margin-top: 10px;
            }
        }
        div {
            width: 244px;
            height: 244px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 7px 15px 0px #62707A2E;
            border-radius: 30px;
            img {
                width: 180px;
                height: 180px;
            }
        }
        div:hover {
            transition: 0.4s;
            background:  #e9ebec;
            box-shadow: 0px 7px 15px 0px #3f484e2e;
        }
        div:active {
            background:  #fdfeff;
            box-shadow: 0px 7px 15px 0px #8a99a32e;
        }
    }
}
.wrapper-background__foot {
    max-width: 100vw;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    background-image: url(/source/images/foot__background-wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.consult-foot__background {
    background-image: url(/source/images/Consult-foot__background.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 243px; 
    height: 260px;
    position: absolute;
    z-index: 30;
    left: 0%;
    bottom: 100%;
}
.consult {
    position: relative;
    width: 864px;
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #FFFFFF;
    box-shadow: 6px 7px 7px 0px #8989891A;
    border-radius: 25px;
    margin: 0 auto;
    &__background {
        background-image: url(/source/images/consult__background.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -21%;
        top: -10%;
        width: 610px;
        height: 554px;
        z-index: 1;
        background-size: 100%;
    }
    &__fake {
        position: absolute;
        left: 0;
        height: 100%;
        width: 15px;
        z-index: 2;
    }
        &__info-points {
            margin-right: 340px;
        }
        &__info-title {
            margin-top: 31px;
            margin-right: 6px;
            width: 421px;
            height: 96px;
            font-family: 'Montserrat Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: 0.8px;
            color: #47A7E3;
        }
        &__info-subtitle {
            margin: 30px 97px 34px 0;
            width: 330px;
            height: 78px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #585858;
        }
        &__info-button {
            width: 273px;
            height: 68px;
            background: linear-gradient(180deg, #F29755 -21.43%, #ED7F31 100%);
            border-radius: 16px;
            color: #FFFFFF;
            font-family: 'Montserrat SemiBold';
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.23em;
            margin-right: 61px;
        }
        &__info-button:hover {
            transition: 0.4s;
            background: linear-gradient(180deg, #f79854 -21.43%, #f78b3d 100%);
        }
        &__info-button:active {
            background: linear-gradient(180deg, #f78b3d -21.43%, #f79854 100%);
        }
    }
    .anchor {
        width: 70px;
        height: 70px;
        background: linear-gradient(180deg, #F1924E 0%, #ED7F32 100%);
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 90%;
        top: 84%;
    }
    .foot {
        margin-top: 67px;
        display: flex;
        justify-content: space-between;
        position: relative;
        li {
            margin-top: 0.5rem;
            a {
                font-family: 'Montserrat SemiBold';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
            }
        }
        p {
            margin-top: 0.5rem;
        }
		&__design {

        }

		&__title {
            font-family: 'Montserrat Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.8px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        &__separator {
            max-width: 1240px;
            width: 100%;
            height: 1px;
            border: 1px solid #B5DFFF;
            display: inline-flex;
            position: absolute;
        }
        

		&__design-services {

        }

		&__content {
            
        }

		&__content-services {
            
        }

		&__contacts {}

		&__email {}

		&__tel {}

		&__address {}

		&__marketplaces {}

		&__button {}

		&__button-start {}

		&__social {}
}
footer {
    background: #2F6192;
    max-width: 1240px;
    width: 100%;
    margin: 9% auto 0;
}
    .footer__wrapper {
        padding: 22px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1240px;
    p {
        font-family: 'Montserrat Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    p:first-child {
        text-decoration: underline;
        margin-bottom: 0.5rem;
    }
    }


